@inherits ReportBase

<div class=@("report") style=@("width:" + Model.Width + "px;Height:" + Model.Height + "px;")>
    <MarginLiner Width="Model.Width" Height="Model.Height"></MarginLiner>
    @for(int i = 0; i < layers.Count; i++)
    {
        LayerBase layer = layers[i];
        <Layer Base=layer Padding=@GetPaddingForCss()></Layer>
    }
</div>

<style>
    .report {
        background-color: ghostwhite;
        outline: solid lightgray 1px;
        /* grid-area: report; */
    }
</style>
@code {
    [Parameter]
    public ReportBase Base
    {
        set
        {
            foreach (PropertyInfo propertyInfo in value.GetType().GetProperties())
            {
                object? obj = propertyInfo.GetValue(value, null);
                if (null != obj) propertyInfo.SetValue(this, obj, null);
            }
        }
    }

    List<LayerBase> layers = new List<LayerBase>();


    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        //리포트는 기본적으로 1개의 레이어를 갖는다.
        layers.Add(new LayerBase());
        await Task.Yield();
    }

    public void AddLayer()
    {
        
    }
}
