@inject DesignerOptionService Options

<div class="layer" ondragover="event.preventDefault()" style=@(Padding)>
    @for(int i = 0; i < bands.Count; i++)
    {
        BandBase band = bands[i];
        if (band.Model.BandType == Data.Model.BandModel.Band.Content)
        {
            <ContentBand Base=band></ContentBand>
        }
    }
</div>
@code {
    private LayerBase thisComponent = new LayerBase();
    [Parameter]
    public LayerBase Base
    {
        set
        {
            thisComponent = value;
            // this = value;
            // foreach (PropertyInfo propertyInfo in value.GetType().GetProperties())
            // {
            //     object? obj = propertyInfo.GetValue(value, null);
            //     if (null != obj) propertyInfo.SetValue(this, obj, null);
            // }
        }
    }

    [Parameter]
    public string Padding { get; set; }

    List<BandBase> bands = new List<BandBase>();
    protected override void OnInitialized()
    {
        var band = new BandBase();
        band.Model.Height = 300;
        band.Model.ParentUid = thisComponent.Model.Uid;

        Options.AddControl(band.Model.Uid, band.Model);
        bands.Add(band);
    }

    public void AddBand()
    {
        
    }
}
