@page "/body"

<RadzenBody>
    <div class="report-background" style=@("transform:scale(" + designer.Zoom * 0.01f + ")")>
        <RulerX></RulerX>
        <RulerY></RulerY>
        <Report Class=" portriat A4" />
    </div>
</RadzenBody>
<style>


    .report-background{
        transform-origin:top;
        position:absolute;
        top:0%;
        left:50%;
        /* report-background 가로사이즈의 절반 = 용지사이즈 + 좌측눈금자의 반 */
        margin: 16px 0 0 -410px; 
        transform: scale(1);
        padding:25px;
    }
    

    .report.portriat.A3 {
        width: 1129px;
        height: 1596px;
    }

    .report.portriat.A4 {
        width: 793.7008873954px;
        height: 1120px;
    }

    .report.portriat.A5 {
        width: 562px;
        height: 798px;
    }

    .report.portriat.B4 {
        width: 977px;
        height: 1383px;
    }

    .report.portriat.B5 {
        width: 692px;
        height: 977px;
    }

    .report.portriat.Letter {
        width: 821px;
        height: 1060px;
    }

    .report.landscape.A3 {
        height: 1129px;
        width: 1596px;
    }

    .report.landscape.A4 {
        width: 1128.6px;
        height: 797px;
    }

    .report.landscape.A5 {
        height: 562px;
        width: 798px;
    }

    .report.landscape.B4 {
        height: 977px;
        width: 1383px;
    }

    .report.landscape.B5 {
        height: 692px;
        width: 977px;
    }

</style>

@code {
    [CascadingParameter]
    private Designer designer { get; set; }

    public float reportWidth = 210;
    public float reportHeight = 297;

    enum PaperSize
    {
        
    }
    public void SetReport()
    {
        
    }
}
