@inherits ControlBase
@inject SelectedControlService SelectService
@inject DragAndDropService DragService
@inject DesignerOptionService Options

<div class="component"
     tabindex="@Model.TabIndex"
     draggable="@isDragAble.ToString()"
     @onpointerdown=OnPointerDown
     @onpointerdown:stopPropagation="true"
     @ondragstart="@((e) => OnDragStart(e))"
     style=@("transform:" + GetStyle("translate") + "position:absolute;" + GetStyle("width") + GetStyle("height") + GetStyle("border"))>
     <CascadingValue Value="this">
        <ModificationArea @ref =modificationArea></ModificationArea>
     </CascadingValue>
    @* <_05_ResizeArea Model=BaseControlModel.ResizeModel></_05_ResizeArea> *@
</div>

<style>
    .component{
        box-sizing: border-box;
    }
</style>
@code {
    public int Height => Model.Height;
    public int Width => Model.Width;
    public bool Selected => Model.Selected;

    private bool isDragAble = false;
    public bool IsDragAble { get { return this.isDragAble; } set { this.isDragAble = value; } }
    ModificationArea modificationArea;
    [Parameter]
    public ControlBase Base
    {
        set
        {
            this.Model = value.Model;
        }
    }

    void OnPointerDown(PointerEventArgs e)
    {
        Console.WriteLine("Control.razor - OnPointerDown");

        if (Options.State == DesignerOptionService.ActionState.Resize)
        {
            isDragAble = false;
        }
        else
        {
            SelectService.OnPointerDown(e, this.Model);
            modificationArea.UpdateElementSize();
            isDragAble = true;
        }
    }
    void OnDragStart(DragEventArgs e)
    {
        //드래그 중 로직의 경우 브라우저에서 처리되므로 OnDrop 부분만 구현한다. 
        DragService.StartDrag(Model.Uid, (int)e.ClientX, (int)e.ClientY);
    }
    public string GetStyle(string type)
    {
        switch (type.ToLower())
        {
            case "translate":
                return "translate(" + this.Model.X + "px, " + this.Model.Y + "px);";
            case "width":
                return "width:" + (this.Model.Width) + "px;";
            case "height":
                return "height:" + (this.Model.Height) + "px;";
            case "border":
                if (this.Model.DrawBorder)
                    return "border: 1px solid grey;";
                else
                    return "border: 1px solid transparent;";
            default:
                return string.Empty;
        }
    }
   
  
}
