@inherits LayoutComponentBase

<div tabindex ="1"
     id="designer"
     @onkeydown:preventDefault="true">
<Designer></Designer>
</div>
<RadzenContextMenu></RadzenContextMenu>

<style>
    /* 컬러픽커 입력 텍스트 사이즈 수정 */
    .rz-color-box{
        --rz-input-font-size:0.7rem;
    }

</style>


