@using System.Reflection;
@inherits BandBase
@inject ControlCreationService CreationService
@inject DragAndDropService DragService
@inject DesignerOptionService Options



<div class="content-band"
     tabIndex = "1" 
     @onpointerup=OnPointerUp
     @onpointerdown=@(e => OnPointerDown(e, "band"))
     @onpointerdown:stopPropagation="true"
     ondrag="event.preventDefault()"
     
     style=@("height:" + Model.Height + "px;" + (Options.State == DesignerOptionService.ActionState.Create ? "cursor:crosshair;" : "") +
     (Model.Selected == true ? "border: solid #0dcaf0 1px;" : "border: solid transparent 1px;"))>

    <CascadingValue Value="this">
        @foreach (ControlBase control in controlBases)
        {
            if(control.Model.Type == ReportComponentModel.Control.Label)
            {
                <Control Base="control"></Control>
            }
            else if (control.Model.Type == ReportComponentModel.Control.Table)
            {
                <Table Base="control"></Table>
            }
        }

        <CreationArea CreationService=CreationService />
        <DragObject DragService="DragService"></DragObject>
    </CascadingValue>

</div>
<style>
    .content-band {
        background-color: lightcyan;
        border: solid #0dcaf0 1px;
        /* grid-area: report; */
    }

    .band {
    }
</style>
@code {

    //todo : tabIndex 계산로직 추가해야함.
    public int TabIndex { get; set; } = 1;
    [Parameter]
    public BandBase Base
    {
        set
        {
            this.Model = value.Model;
        }
    }
}
